In [3]:
import pandas as pd
df = pd.read_csv("Galaxy5-[MCS_on_data_4].tabular",sep='\t')
df.head()

   geneName  family
0  ONI23381       1
1  ONI28332       1
2  ONH95022       1
3  ONI26822       1
4  ONI02697       1

In [9]:
f = open("all_pairs", "x")
pairs = []
for i in range(x-1):
    for j in range(i+1,x):
        if df['family'][i]==df['family'][j]:
            f = open("all_pairs", "a")
            f.write(df['geneName'][i] +"\t"+ df['geneName'][j]+ "\n")
            f.close()
            pairs.append([i,j])